<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bricechou.weiboclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于调用 JNI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/login_weibo_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        会根据手机是否安装微博客户端来决定使用 sso 授权还是网页授权,
        如果安装有微博客户端 则调用微博客户端授权,否则调用 Web 页面方式授权。
        -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>

        <!-- 微博的APP KEY 这个也要考虑使用MD5进行加密处理 -->
        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="2006309463" />
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="weibo" />

        <activity android:name=".db.DbActivity" />
        <activity android:name=".services.ServicesActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.HomeActivity" />
    </application>

</manifest>